{% import "././$version/license.njk" as license %}{{license.license()}}
import * as {{ api.naming.version }} from './{{ api.naming.version }}';
export {{ '{' + api.naming.version + '}' }};
{% for service in api.services -%}
const {{ service.name.toPascalCase() }}Client = {{ api.naming.version }}.{{ service.name.toPascalCase() }}Client;
export {{ '{' + service.name.toPascalCase() + 'Client' + '}' }};
{%- endfor %}
