{% import "./license.njk" as license %}{{license.license()}}
import * as gax from 'google-gax';
import * as path from 'path';

import * as packageJson from '../../package.json';
import * as protosTypes from '../../protos/protos';
import * as gapicConfig from './echo_client_config.json';

const version = packageJson.version;

export interface ClientOptions extends gax.GrpcClientOptions,
                                       gax.GoogleAuthOptions,
                                       gax.ClientStubOptions {
  libName?: string;
  libVersion?: string;
  clientConfig: gax.ClientConfig;
  fallback?: boolean;
  apiEndpoint?: string;
}

interface Descriptors {
  page: {[name: string]: gax.PageDescriptor};
  stream: {[name: string]: gax.StreamDescriptor};
  longrunning: {[name: string]: gax.LongrunningDescriptor};
}

export interface Callback<
    ResponseObject, NextRequestObject, RawResponseObject> {
  (err: Error|null|undefined, value?: ResponseObject|null,
   nextRequest?: NextRequestObject, rawResponse?: RawResponseObject): void;
}
{% if (service.paging.length > 0) %}
export interface PaginationCallback<
    RequestObject, ResponseObject, ResponseType> {
  (err: Error|null, values?: ResponseType[], nextPageRequest?: RequestObject,
   rawResponse?: ResponseObject): void;
}

export interface PaginationResponse<
    RequestObject, ResponseObject, ResponseType> {
  values?: ResponseType[];
  nextPageRequest?: RequestObject;
  rawResponse?: ResponseObject;
}
{% endif %}
export class {{ service.name }}Client {
  private _descriptors: Descriptors = {page: {}, stream: {}, longrunning: {}};
  private _innerApiCalls: {[name: string]: Function};
  auth: gax.GoogleAuth;

  constructor(opts: ClientOptions) {
    // Ensure that options include the service address and port.
    opts = opts || {};
    const isBrowser = (typeof window !== 'undefined');
    if (isBrowser){
      opts.fallback = true;
    }
    // If we are in browser, we are already using fallback because of the
    // "browser" field in package.json.
    // But if we were explicitly requested to use fallback, let's do it now.
    const gaxModule = !isBrowser && opts.fallback ? gax.fallback : gax;
    const servicePath =
      opts.servicePath ||
      opts.apiEndpoint ||
      (this.constructor as typeof {{service.name}}Client).servicePath;

    opts = Object.assign(
        {
          clientConfig: {},
          port: (this.constructor as typeof {{ service.name }}Client).port,
          servicePath: servicePath,
        },
        opts);

    // Create a `gaxGrpc` object, with any grpc-specific options
    // sent to the client.
    opts.scopes = (this.constructor as typeof {{ service.name }}Client).scopes;
    const gaxGrpc = new gaxModule.GrpcClient(opts);

    // Save the auth object to the client, for use by other methods.
    this.auth = (gaxGrpc.auth as gax.GoogleAuth);

    // Determine the client header string.
    const clientHeader = [
      `gl-node/${process.version}`,
      `grpc/${gaxGrpc.grpcVersion}`,
      `gax/${gaxModule.version}`,
      `gapic/${version}`,
      `gl-web/${gaxModule.version}`
    ];
    if (opts.libName && opts.libVersion) {
      clientHeader.push(`${opts.libName}/${opts.libVersion}`);
    }
    // Load the applicable protos.
    // For Node.js, pass the path to JSON proto file.
    // For browsers, pass the JSON content.

    const nodejsProtoPath = path.join(__dirname, '..', '..', 'protos', 'protos.json');
    const protos = gaxGrpc.loadProto(
      opts.fallback ?
        require("../../protos/protos.json") :
        nodejsProtoPath
    );
{%- if (service.paging.length > 0) %}

    // Some of the methods on this service return "paged" results,
    // (e.g. 50 results at a time, with tokens to get subsequent
    // pages). Denote the keys used for pagination and results.
    this._descriptors.page = {
{%- set pagingJoiner = joiner() %}
{%- for method in service.paging %}
      {{- pagingJoiner() }}
      {{ method.name.toCamelCase() }}:
          new gaxModule.PageDescriptor('pageToken', 'nextPageToken', '{{ method.pagingFieldName }}')
{%- endfor %}
    };
{%- endif %}

{%- if (service.streaming.length > 0) %}

    // Some of the methods on this service provide streaming responses.
    // Provide descriptors for these.
    this._descriptors.stream = {
{%- set streamingJoiner = joiner() %}
{%- for method in service.streaming %}
      {{- streamingJoiner() }}
      {{ method.name.toCamelCase() }}: new gaxModule.StreamDescriptor(gax.StreamType.{{ method.streaming }})
{%- endfor %}
    };
{%- endif %}
    
{%- if (service.longRunning.length > 0) %}
    // This API contains "long-running operations", which return a
    // an Operation object that allows for tracking of the operation,
    // rather than holding a request open.
    const protoFilesRoot = opts.fallback?
      gaxModule.protobuf.Root.fromJSON(require("../../protos/protos.json")) :
      gaxModule.protobuf.loadSync(nodejsProtoPath);

    const operationsClient = gaxModule.lro({
      auth: this.auth,
      // @ts-ignore
      grpc: gaxGrpc.grpc,
    }).operationsClient(opts);

{%- for method in service.longRunning %}
    const {{ method.name.toCamelCase() }}Response = protoFilesRoot.lookup(
      '{{ method.longRunning.responseType }}');
    const {{ method.name.toCamelCase() }}Metadata = protoFilesRoot.lookup(
      '{{ method.longRunning.metadataType }}');
{%- endfor %}

    this._descriptors.longrunning = {
{%- set longRunningJoiner = joiner() %}
{%- for method in service.longRunning %}
      {{- longRunningJoiner() }}
      {{ method.name.toCamelCase() }}: new gaxModule.LongrunningDescriptor(
        operationsClient,
        // @ts-ignore
        {{ method.name.toCamelCase() }}Response.decode.bind({{ method.name.toCamelCase() }}Response),
        // @ts-ignore
        {{ method.name.toCamelCase() }}Metadata.decode.bind({{ method.name.toCamelCase() }}Metadata))
{%- endfor %}
    };
{%- endif %}

    // Put together the default options sent with requests.
    const defaults = gaxGrpc.constructSettings(
        '{{ api.naming.protoPackage }}.{{ service.name }}', gapicConfig as gax.ClientConfig,
        opts.clientConfig || {}, {'x-goog-api-client': clientHeader.join(' ')});

    // Set up a dictionary of "inner API calls"; the core implementation
    // of calling the API is handled in `google-gax`, with this code
    // merely providing the destination and request information.
    this._innerApiCalls = {};

    // Put together the "service stub" for
    // google.showcase.v1alpha2.Echo.
    const {{ service.name.toCamelCase() }}Stub = gaxGrpc.createStub(
        // @ts-ignore We cannot check types that are loaded in runtime.
        opts.fallback ?
          // @ts-ignore
          protos.lookupService('{{api.naming.protoPackage}}.{{ service.name }}') : 
          // @ts-ignore
          protos.{{api.naming.protoPackage}}.{{ service.name }},
        opts);

    const {{ service.name.toCamelCase() }}StubMethods =
        [
{%- set stubMethodsJoiner = joiner(', ') -%}
{%- for method in service.method -%}
      {{- stubMethodsJoiner() -}}
      '{{ method.name.toCamelCase() }}'
{%- endfor -%}
    ];

    for (const methodName of {{ service.name.toCamelCase() }}StubMethods) {
      // @ts-ignore
      const innerCallPromise = {{ service.name.toCamelCase() }}Stub.then(
        // @ts-ignore
        stub => (...args: Array<{}>) => {
          return stub[methodName].apply(stub, args);
        },
        (err: Error|null|undefined) => () => {
          throw err;
        });

      this._innerApiCalls[methodName] = gax.createApiCall(
        innerCallPromise,
        defaults[methodName],
        this._descriptors.page[methodName] ||
            this._descriptors.stream[methodName] || 
            this._descriptors.longrunning[methodName]
      );
    }
  }
  /**
   * The DNS address for this API service.
   */
  static get servicePath() {
    return '{{ service.hostname }}';
  }
  /**
   * The DNS address for this API service - same as servicePath(),
   * exists for compatibility reasons.
   */
  static get apiEndpoint() {
    return 'localhost';
  }

  /**
   * The port for this API service.
   */
  static get port() {
    return {{ service.port }};
  }

  /**
   * The scopes needed to make gRPC calls for every method defined
   * in this service.
   */
  static get scopes() {
{%- if (service.oauthScopes.length == 0) %}
    return [];
{%- else %}
    return [
{%- set scopesJoiner = joiner() %}
{%- for scope in service.oauthScopes %}
      {{- scopesJoiner() }}
      '{{ scope }}'
{%- endfor %}
    ];
{%- endif %}
  }

  /**
   * Return the project ID used by this class.
   * @param {function(Error, string)} callback - the callback to
   *   be called with the current project Id.
   */
  getProjectId(): Promise<string>;
  getProjectId(callback: Callback<string, undefined, undefined>): void;
  getProjectId(callback?: Callback<string, undefined, undefined>):
      Promise<string>|void {
    if (callback) {
      this.auth.getProjectId(callback);
      return;
    }
    return this.auth.getProjectId();
  }

  // -------------------
  // -- Service calls --
  // -------------------

{%- for method in service.simpleMethods %}
  {{ method.name.toCamelCase() }}(
      request: protosTypes{{ method.inputInterface }},
      options?: gax.CallOptions):
      Promise<[
        protosTypes{{ method.outputInterface }},
        protosTypes{{ method.inputInterface }}|undefined, {}|undefined
      ]>;
  {{ method.name.toCamelCase() }}(
      request: protosTypes{{ method.inputInterface }},
      options: gax.CallOptions,
      callback: Callback<
          protosTypes{{ method.outputInterface }},
          protosTypes{{ method.inputInterface }}|undefined,
          {}|undefined>): void;
  {{ method.name.toCamelCase() }}(
      request: protosTypes{{ method.inputInterface }},
      optionsOrCallback?: gax.CallOptions|Callback<
          protosTypes{{ method.outputInterface }},
          protosTypes{{ method.inputInterface }}|undefined, {}|undefined>,
      callback?: Callback<
          protosTypes{{ method.outputInterface }},
          protosTypes{{ method.inputInterface }}|undefined,
          {}|undefined>):
      Promise<[
        protosTypes{{ method.outputInterface }},
        protosTypes{{ method.inputInterface }}|undefined, {}|undefined
      ]>|void {
    request = request || {};
    let options = optionsOrCallback;
    if (typeof options === 'function' && callback === undefined) {
      callback = options;
      options = {};
    }
    options = options || {};
    return this._innerApiCalls.{{ method.name.toCamelCase() }}(request, options, callback);
  } 
{%- endfor %}
{% for method in service.streaming %}
{%- if method.serverStreaming and method.clientStreaming %}
  {{ method.name.toCamelCase() }}(
      options?: gax.CallOptions):
    gax.BiDiStreamingCall{
    options = options || {};
    return this._innerApiCalls.{{ method.name.toCamelCase() }}(options);
  }
{%- elif method.serverStreaming %}
  {{ method.name.toCamelCase() }}(
      request?: protosTypes{{ method.inputInterface }},
      options?: gax.CallOptions):
    gax.ServerStreamingCall{
    request = request || {}; 
    options = options || {};
    return this._innerApiCalls.{{ method.name.toCamelCase() }}(request, options);
  }
{%- elif method.clientStreaming %}
  {{ method.name.toCamelCase() }}(
      options: gax.CallOptions,
      callback: Callback<
        protosTypes{{ method.outputInterface }},
        protosTypes{{ method.inputInterface }}|undefined, {}|undefined>):
    gax.ClientStreamingCall;
  {{ method.name.toCamelCase() }}(
      callback: Callback<
        protosTypes{{ method.outputInterface }},
        protosTypes{{ method.inputInterface }}|undefined, {}|undefined>):
    gax.ClientStreamingCall;
  {{ method.name.toCamelCase() }}(
      optionsOrCallback: gax.CallOptions|Callback<
        protosTypes{{ method.outputInterface }},
        protosTypes{{ method.inputInterface }}|undefined, {}|undefined>,
      callback?: Callback<
        protosTypes{{ method.outputInterface }},
        protosTypes{{ method.inputInterface }}|undefined, {}|undefined>):
    gax.ClientStreamingCall {
    if (optionsOrCallback instanceof Function && callback === undefined) {
        callback = optionsOrCallback;
        optionsOrCallback = {};
    }
    optionsOrCallback = optionsOrCallback || {};
    return this._innerApiCalls.{{ method.name.toCamelCase() }}(null, optionsOrCallback, callback);
  }
{%- endif %}
{% endfor %}
{%- for method in service.longRunning %}
  {{ method.name.toCamelCase() }}(
      request: protosTypes{{ method.inputInterface }},
      options?: gax.CallOptions):
      Promise<[
        protosTypes{{ method.outputInterface }},
        protosTypes{{ method.inputInterface }}|undefined, {}|undefined
      ]>;
  {{ method.name.toCamelCase() }}(
      request: protosTypes{{ method.inputInterface }},
      options: gax.CallOptions,
      callback: Callback<
          protosTypes{{ method.outputInterface }},
          protosTypes{{ method.inputInterface }}|undefined,
          {}|undefined>): void;
  {{ method.name.toCamelCase() }}(
      request: protosTypes{{ method.inputInterface }},
      optionsOrCallback?: gax.CallOptions|Callback<
          protosTypes{{ method.outputInterface }},
          protosTypes{{ method.inputInterface }}|undefined, {}|undefined>,
      callback?: Callback<
          protosTypes{{ method.outputInterface }},
          protosTypes{{ method.inputInterface }}|undefined,
          {}|undefined>):
      Promise<[
        protosTypes{{ method.outputInterface }},
        protosTypes{{ method.inputInterface }}|undefined, {}|undefined
      ]>|void {
    request = request || {};
    let options = optionsOrCallback;
    if (typeof options === 'function' && callback === undefined) {
      callback = options;
      options = {};
    }
    options = options || {};
    return this._innerApiCalls.{{ method.name.toCamelCase() }}(request, options, callback);
  } 
{%- endfor %}
}
