{
  "interfaces": {
    "{{ api.naming.protoPackage }}.{{ service.name }}": {
      "retry_codes": {
{%- set retryCodesComma = joiner() %}
{%- for prettyName in service.retryableCodeMap.getPrettyCodesNames() %}
        {{- retryCodesComma() }}
        "{{ prettyName }}": {{ service.retryableCodeMap.getCodesJSON(prettyName) | safe }}
{%- endfor %}
      },
      "retry_params": {
{%- set retryParamsComma = joiner() %}
{%- for prettyName in service.retryableCodeMap.getPrettyParamsNames() %}
        {{- retryParamsComma() }}
        "{{ prettyName }}": {{ service.retryableCodeMap.getParamsJSON(prettyName) | safe }}
{%- endfor %}
      },
      "methods": {
{%- set comma = joiner() %}
{%- for method in service.method %}
        {{- comma() }}
        "{{ method.name }}": {
{%- set optionComma = joiner() %}
{%- if method.timeoutMillis %}
          {{- optionComma() }}
          "timeout_millis": {{ method.timeoutMillis }}
{%- endif %}
          {{- optionComma() }}
          "retry_codes_name": "{{ method.retryableCodesName }}"
          {{- optionComma() }}
          "retry_params_name": "{{ method.retryParamsName }}"
        }
{%- endfor %}
      }
    }
  }
}
