{% import "./license.njk" as license %}{{license.license()}}
{% for service in api.services -%}
export {{ '{' + service.name.toPascalCase() + 'Client}' }} from './{{ service.name.toLowerCase() }}_client';
{%- endfor %}
