{%- macro initRequestWithHeaderParam(method) -%}
            const request: protosTypes{{ method.inputInterface }} = {};
{%- if method.headerRequestParams.length > 1 %}
{%- set chain = "request" -%}
{%- for field in method.headerRequestParams.slice(0, -1) %}
            {{ chain }}.{{ field.toCamelCase() }} = {};
{%- set chain = chain + "." + field.toCamelCase() -%}
{%- endfor %}
            {{ chain }}.{{ method.headerRequestParams.slice(-1)[0] }} = '';
{%- endif %}
{%- endmacro -%}

{%- macro printCommentsForParams(method) -%}
{%- set commentsMap = method.paramComment -%}
{%- for oneComment in commentsMap %}
 * @param { {{- oneComment.paramType.match('_([^_]+)$')[1].toLowerCase() -}} } request.{{ oneComment.paramName }}
{%- set lines = oneComment.comments -%}
{%- for line in lines %} 
 * {{ line.replace('*/', '* /') }} 
{%- endfor %}
{%- endfor %}
{%- endmacro -%}

{%- macro printCommentsForMethod(method) -%}
{%- set lines = method.comments -%}
{%- for line in lines %}
 * {{ line }}
{%- endfor %}
{%- endmacro -%}
