{
  "repository": "googleapis/nodejs-{{ api.naming.productName.toKebabCase() }}",
  "name": "{{ api.naming.productName.toKebabCase() }}",
  "version": "0.1.0",
  "author": "Google LLC",
  "description": "GAPIC {{ api.naming.productName }} client for Node.js",
  "main": "build/src/index.js",
  "files": [
    "protos",
    "build/src",
    "!build/src/**/*.map",
    "AUTHORS",
    "COPYING"
  ],
  "dependencies": {
    "google-gax": "^0.17.1",
    "lodash.merge": "^4.6.0"
  },
  "devDependencies": {
    "gts": "^0.8.0",
    "mocha": "^5.2.0",
    "through2": "^2.0.3",
    "typescript": "~2.8.0"
  },
  "scripts": {
    "check": "gts check",
    "clean": "gts clean",
    "compile": "tsc -p .",
    "fix": "gts fix",
    "prepare": "npm run compile",
    "pretest": "npm run compile",
    "posttest": "npm run check"
  },
  "license": "Apache-2.0",
  "engines": {
    "node": ">=6.0.0"
  }
}
