{#-

Copyright 2019 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-#}
{
  "name": "{{ api.publishName }}",
  "version": "0.1.0",
  "description": "{{ api.naming.productName }} client for Node.js",
  "repository": "googleapis/nodejs-{{ api.naming.productName.toKebabCase() }}",
  "license": "Apache-2.0",
  "author": "Google LLC",
  "files": [
    "build/src",
    "build/protos"
  ],
  "main": "build/src/index.js",
  "scripts": {
    "clean": "gts clean",
    "compile": "tsc -p . && cp -r protos build/",
    "compile-protos": "compileProtos src",
    "docs": "jsdoc -c .jsdoc.js",
    "docs-test": "linkinator docs",
    "fix": "gts fix",
    "lint": "gts check",
    "predocs-test": "npm run docs",
    "prepare": "npm run compile-protos && npm run compile",
    "system-test": "mocha build/system-test",
    "test": "mocha build/test"
  },
  "dependencies": {
    "google-gax": "^1.11.0"
  },
  "devDependencies": {
    "@types/mocha": "^5.2.5",
    "@types/node": "^12.0.0",
    "gts": "^1.0.0",
    "jsdoc": "^3.5.5",
    "jsdoc-fresh": "^1.0.1",
    "jsdoc-region-tag": "^1.0.2",
    "linkinator": "^1.5.0",
    "mocha": "^6.0.0",
    "pack-n-play": "^1.0.0-2",
    "null-loader": "^3.0.0",
    "ts-loader": "^6.2.1",
    "typescript": "^3.7.0",
    "webpack": "^4.41.2",
    "webpack-cli": "^3.3.10"
  },
  "engines": {
    "node": ">=8.13.0"
  }
}
