name: Test generator

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    container: gcr.io/gapic-images/googleapis:20250404
    # Dockerfile for this image: https://github.com/googleapis/googleapis-discovery/blob/master/Dockerfile
    # If you update its version, please also update it below in
    # 'Cache Bazel files' - unfortunately it cannot accept variables at this
    # time.

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5

    - name: Cache Bazel files
      id: cache-bazel
      uses: actions/cache@v4
      with:
        path: ~/.cache/bazel
        key: ${{ runner.os }}-googleapis-20250422-${{ secrets.CACHE_VERSION }}

    - name: Cache not found
      if: steps.cache-bazel.outputs.cache-hit != 'true'
      run: |
        echo "No cache found."

    - name: Cache found
      if: steps.cache-bazel.outputs.cache-hit == 'true'
      run: |
        echo -n "Cache found. Cache size: "
        du -sh ~/.cache/bazel
        echo "If the cache seems broken, update the CACHE_VERSION secret in"
        echo "https://github.com/googleapis/googleapis-discovery/settings/secrets/actions"
        echo "(use any random string, any GUID will work)"
        echo "and it will start over with a clean cache."
        echo "The old one will disappear after 7 days."

    - name: Setup Node.js
      uses: actions/setup-node@v5
      with:
        node-version: 18.x

    - name: Install Node dependencies with npm
      run: npm install
      
    - name: Run bazel build
      run: bazelisk build --noremote_accept_cached '//...'

    - name: Run bazel test
      run: bazelisk test --test_output=errors --noremote_accept_cached //...

    - name: Verify error conformance
      run: |
        curl -sSL https://github.com/googleapis/gapic-config-validator/releases/download/v0.6.0/gapic-config-validator-0.6.0-linux-amd64.tar.gz > config-validator.tar.gz
        tar xzf config-validator.tar.gz --no-same-owner
        chmod +x gapic-error-conformance
        chmod +x bazel-bin/protoc_plugin_/protoc_plugin
        ./gapic-error-conformance -plugin="bazel-bin/protoc_plugin_/protoc_plugin"

    - name: Prepare baseline artifacts
      run: |
        mkdir -p ~/artifacts
        cp bazel-testlogs/unit_tests/test.outputs/outputs.zip ~/artifacts/
        bazelisk run -- @pnpm//:pnpm --dir $PWD install
        tar cfz ~/artifacts/node_modules.tar.gz node_modules

    - name: Save artifacts
      uses: actions/upload-artifact@v4
      with:
        name: artifacts
        path: ~/artifacts

  lib-tests:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x]
        lib-name: [showcase, kms, translate, monitoring, dlp, texttospeech, showcase-legacy, compute, logging, bigquery-v2, redis, retail]
    steps:
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}

    - name: Download artifacts
      uses: actions/download-artifact@v5
      with:
        name: artifacts
        path: ~/artifacts

    - name: Prepare ${{ matrix.lib-name }} library to test
      run: |
        unzip ~/artifacts/outputs.zip '.test-out-${{ matrix.lib-name }}/*' -d library
        mv library/.test-out-${{ matrix.lib-name }} library/${{ matrix.lib-name }}

    - name: Test ${{ matrix.lib-name }} library
      run: |
        cd library/${{ matrix.lib-name }}
        pwd
        npm install
        npm test
        npm run fix
        # Second compile to make sure "gts fix" did not break the code, it happens!
        rm -rf build
        npm run compile
        npm run system-test
        npm run docs
  lib-tests-esm:
    needs: build
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18.x]
        lib-name: [showcase, kms, translate, monitoring, dlp, texttospeech, showcase-legacy, compute, logging, bigquery-v2, redis, retail]
    steps:
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v5
      with:
        node-version: ${{ matrix.node-version }}

    - name: Download artifacts
      uses: actions/download-artifact@v5
      with:
        name: artifacts
        path: ~/artifacts

    - name: Prepare ${{ matrix.lib-name }}-esm library to test
      run: |
        unzip ~/artifacts/outputs.zip '.test-out-${{ matrix.lib-name }}-esm/*' -d library
        mv library/.test-out-${{ matrix.lib-name }}-esm library/${{ matrix.lib-name }}-esm

    - name: Test ${{ matrix.lib-name }} library
      run: |
        cd library/${{ matrix.lib-name }}-esm
        pwd
        npm install
        npm test
        npm run fix
        # Second compile to make sure "gts fix" did not break the code, it happens!
        rm -rf build
        npm run compile
        npm run system-test
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-node@v5
        with:
          node-version: 18
      - run: npm install
      - run: npm run lint
